<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css')}}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

<title>Simulation Guide</title>

</head>

<body>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="{{ url_for('home')}}">Simulation</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('roms') }}">ROMs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('Emulators')}}">Emulators</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="{{ url_for('News')}}">News</a>
  </li>
</ul>

<div class="header">
<h1>Getting Started With Emulation</h1>
<p>Learn how to play classic games on modern devices</p>
</div>

<div class="section">
<h2>What is Emulation?</h2>

<p>
Emulation allows your computer to imitate older gaming systems such as
<span class="highlight">NES, Game Boy, PlayStation, or Nintendo DS</span>.
This lets you play classic games without needing the original console.
</p>

</div>

<div class="section">
<h2>ROMs</h2>

<p>
Game files used in emulators are called <span class="highlight">ROMs</span> or
<span class="highlight">ISOs</span>.
These are digital copies of cartridges or discs.
</p>

<ul>
<li>NES / SNES → .nes / .sfc</li>
<li>Game Boy → .gb / .gba</li>
<li>PlayStation → .iso / .bin</li>
<li>Nintendo DS → .nds</li>
</ul>

<p>
Most people create ROMs from their own games using dumping tools.
</p>

</div>

<div class="section">

<h2>Emulators</h2>

<p>
Different consoles require different emulator software.
</p>

<ul>



<li>GameCube → Dolphin</li>
<li>Nintendo Switch → Ryujinx</li>
<li>PlayStation 2 → PCSX2</li>
<li>PlayStation 3 → RPCS3</li>



</ul>

<p>
After installing the emulator, open it and select the ROM file to start playing.
</p>


</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>