<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css')}}">
     <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>News</title>
</head>
<body>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('home')}}" onclick="playsound(event)" onmouseenter="playHover()" >Simulation</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('roms') }}" onclick="playsound(event)" onmouseenter="playHover()" >ROMs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('Emulators')}}" onclick="playsound(event)" onmouseenter="playHover()" >Emulators</a>
  </li>
   <li class="nav-item">
    <a class="nav-link active" href="{{ url_for('News')}}" onclick="playsound(event)" onmouseenter="playHover()" >News</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="{{ url_for('Modding')}}" onclick="playsound(event)" onmouseenter="playHover()" >Modding</a>
  </li>
      <li class="nav-item">
    <a class="nav-link" href="{{ url_for('Games')}}" onclick="playsound(event)" onmouseenter="playHover()" >Games</a>
  </li>
</ul>
<div class="secti">

{% for article in data %}

<h2 class="section2">{{ article.title }}</h2>
{% if article.urlToImage %} 
<img src="{{ article.urlToImage }}" width="500" >
{% else %}
<p><i>No media found</i></p>
{% endif %} 
<hr> 
<h3 class="Texth3">{{ article.description }}</h3> 
<a href="{{ article.url }}">Read more</a> 

<hr>
{% endfor %}
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>